:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    color-scheme: dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 100svh;
    display: flex;
    margin: 0;
    padding: 0;
}

#app {
    flex: 1;
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem;
}

.view-title-bar {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.view-label {
    background-color: black;
    flex: 1;
    font-family: monospace;
    padding: 0.25em;
}

@media (min-width: 1000px) {
    #app {
        grid-template-columns: auto minmax(0, 1fr) 1fr;
        grid-template-rows: auto 1fr;
        grid-auto-flow: column;
    }
}
